<div class="container btn-bar">
  <%= link('admin/scrape', 'Scrape All', :class => 'btn') %>
  &nbsp;
  <%= link('admin/scrape/detail', 'Scrape all hero details', :class => 'btn') %>
  &nbsp;
  <%= link('admin/parse/detail', 'Parse hero details', :class => 'btn') %>
  &nbsp;
  <%= link('admin/purge', 'Purge data', :class => 'btn') %>
</div>