<% if @current_pick && @current_pick['team'] %>
  <div class="block block-header text-center">
    <% if @structure['pick_position'].nil? %>
      <h2>Choose your picking position</h2>
    <% else %>
      <h2 class="<%= @current_pick['team'] %>"><%= @current_pick['team'].capitalize %> team is <%= @current_pick['type'] == 'ban' ? @current_pick['type'] + 'ning': @current_pick['type'] + 'ing' %></h2>
    <% end %>
  </div>
<% end %>