textarea {
  width: 100%;
  margin: 5px auto 20px;
  background: #f2f2f2;
}

#main {
  .container {
    max-width: 1280px;
    margin: 0 20px 20px;
    padding: 15px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 0 8px 5px rgba(#eee, 0.5);

    &.btn-bar {
      padding-bottom: 0;

      .btn {
        margin-bottom: 15px;
      }
    }

    @include jumbo {
      margin: 0 auto 20px;
    }
  }
}