body {
  header {
    margin: 0 auto 20px;
    height: 60px;
    background: #333;

    .container {
      margin: 0 auto;
      max-width: $screenDesktop;
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    .brand,
    ul {
      float: left;
      margin: 0;
    }

    ul {
      padding: 0 0 0 80px;

      li {
        float: left;
        display: inline-block;
        line-height: 60px;

        a {
          padding: 0 15px;
          line-height: 60px;
          min-height: 60px;
          display: inline-block;
          background: rgba(#fff, 0.05);
          border-right: 1px solid rgba(#000, 0.6);

          &.active {
            position: relative;
            &:before {
              display: block;
              position: absolute;
              bottom: 0;
              right: 0;
              left: 0;
              height: 4px;
              background: #2b9edb;
              content: "";
            }
          }

          &:hover {
            background: rgba(#fff, 0.15);
          }
        }

        &:first-of-type a {
          border-left: 1px solid rgba(#000, 0.6);
        }
      }
    }

    .brand {
      a {
        > img {
          float: left;
          margin: 14px 12px 0;
          display: block;
          width: 32px;
          height: 32px;
        }

        > h1 {
          margin: 0;
          float: left;
          font-size: 18px;
          font-weight: normal;
          line-height: 60px;
          color: #fff;
        }
      }
    }
  }

  > .container {
    max-width: 1280px;
    margin: 0 20px 20px;
    padding: 15px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 0 8px 5px rgba(#eee, 0.5);

    @include jumbo {
      margin: 0 auto 20px;
    }
  }
}

@include mobile {
  body {
    header {
      height: 111px;

      ul {
        width: 100%;
        display: block;
        padding: 0 8px;
        height: 42px;
        overflow: hidden;

        li,
        li a {
          min-height: 40px;
          line-height: 40px;
        }

        li a {
          border-top: 1px solid rgba(#000, 0.6);
          border-bottom: 1px solid rgba(#000, 0.6);
        }
      }
    }
  }
}